@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --line-border-fill: #2498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box; /*свойство заставляет браузер учитывать внутренние отступы (padding) и границы (border) элемента в его общей ширине и высоте*/
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif; /*шрифт*/
    display: flex; /*превращает обычный блок в конткйнер, распределяет элементы по горизонтали и вертикали внутри своего блока*/
    /*align-items: center; /*выравнивает дочерние элементы по вертикали (поперечной оси) внутри flex-контейнера. все внутренние блоки и выставляет их посередине по высоте родительского блока*/
    justify-content: center;/*выравнивает дочерние элементы по центру по горизонтали внутри родительского контейнера*/
    height: 100vh;/*vh — это сокращение от "viewport height" (высота области просмотра).
        1vh = это 1% от текущей высоты окна браузера.*/
    overflow: hidden;/*обрезает всё, что выходит за пределы блока, и прячет это. Пользователь не увидит "хвосты" контента и не сможет докрутить до них скроллом.*/
    margin: 0; /*убирает все внешние отступы элемента. Он устанавливает отступы сверху, справа, снизу и слева в ноль.*/

}   

.container {
    text-align: center; /*выравнивание текста по центру*/ 
}

.progress-container {
    display: flex;
    justify-content: space-between; /*распределяет дочерние элементы внутри flex-контейнера так, что первый элемент прижимается к левому краю, последний — к правому, а между ними равномерно распределяется свободное пространство*/
    position: relative;/*Позволяет сдвинуть элемент относительно его обычного места (используя top, right, bottom, left).
Делает элемент точкой отсчета для абсолютно спозиционированных дочерних элементов (position: absolute; внутри него).*/
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;

}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

.btn:hover {
    transform: scale(1.02); /*эффект кнопки при наведении*/
}